div{
  padding: 0;
  margin: 0;
  background-color: teal;
  height: 95%;
}

.App-header {
  height: 10%;
  width: 100%;
  align-items: top;
  justify-content:space-between;
  display: inline-flex;
 
}
.name{
  justify-content:left !important;
  align-content: center;
  font-size: 25px;
  color: white;
  padding: 15px 15px;
}

.App-section {
height: 85%;
background-color: whitesmoke;
}

.App-footer{
height: 5%;
background-color: teal;
}

.App-link {
  color: whitesmoke;
  font-weight: bold;
}

ul {
  list-style:none;
  display:inline-flex;
  justify-content: right;
  align-items: center;
}

li{
padding: 15px;

}

.icon{
  height: 30px;
  width: 30px;
}