div{
  padding: 0;
  margin: 0;
  background-color: teal;
  height: 95%;
}

.App-header {
  height: 125px;
  width: 100%;
  align-items: top;
  justify-content:space-between;
  display: inline-flex;
 
}
.name{
  justify-content:left !important;
  align-content: center;
  font-size: 25px;
  color: white;
  padding: 25px;
}

.App-section {
min-height: 500px;
background-color: whitesmoke;
}

.App-footer{
height: 130px;
background-color: teal;
}

.App-link {
  color: whitesmoke;
  font-weight: bold;
}

ul {
  list-style:none;
  display:inline-flex;
  justify-content: right;
  align-items: center;
}

li{
padding: 15px;

}

.icon{
  height: 40px;
  width: 40px;
  border: 5px solid whitesmoke;
  border-radius: 2pc;
}